.select-drop-down input {
    color: #f6eded;
    cursor: pointer;
    margin-left: 8rem;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #726a72;
    border: 1px solid #655365;
}


.select-drop-down input:hover{
    color: #000102;
    border: 1px solid white;
    background-color: white;
    transition: color 200ms linear, background-color 200ms linear;

}
.select-drop-down input {
    color: #8ab4f8;
    padding: 5px 15px;
    position: absolute;
    margin-left: 150px;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

@media all and (max-width: 1200px) {
    .select-drop-down input {
        color: #f6eded;
        cursor: pointer;
        margin-top: -7%;
        margin-left: 7rem;
        width: 18%;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 1.3rem;
        background-color: #726a72;
        border: 1px solid #655365;
    }
}

@media all and (max-width: 940px) {
    .select-drop-down input {
        color: #f6eded;
        cursor: pointer;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 1.3rem;
        background-color: #726a72;
        border: 1px solid #655365;
    }
}
@media all and (max-width: 700px) {
    .select-drop-down input {
        margin-top: 40%;
    }
}
@media all and (max-width: 550px) {
    .select-drop-down input {
        margin-top: 40%;
        font-size: 1rem;
        position: absolute;
        margin-left: -2%;
    }
}