.section-selector {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.section-selector-value {
    border-radius: 4%;
    border: 2px solid #170917;
    background-color: #4b3a3a;
    color: #f7faf2;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

